networks:
  traefik_network:
    external: true

services:
  airapi:
    build: .
    container_name: react-app-api:latest
    image: ghcr.io/quentinmichon/react-app-api:latest

    networks:
      - traefik_network
    expose:
      - "80"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.airapi.entrypoints=https
      - traefik.http.routers.airapi.rule=Host(`app.dai.swisspotter.ch`)
      - traefik.http.services.airapi.loadbalancer.server.port=80