networks:
  traefik_network:
    external: true

services:
  appapi:
    build: .
    container_name: react-app
    image: react-app

    networks:
      - traefik_network
    expose:
      - "80"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.appapi.entrypoints=https
      - traefik.http.routers.appapi.rule=Host(`app.dai.swisspotter.ch`)
      - traefik.http.services.appapi.loadbalancer.server.port=80